<h1>Search results</h1>

<table>
  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= link_to movie_path(movie.id) do %>
        <%= movie_poster movie.poster_path %>
      <% end %>
    </td>
    <td>
      <%= link_to movie.title, movie_path(movie.id) %>, release date <%= movie.release_date %> <br>
      TODO: add cast, directors, trailers, similiar movies etc.
    </td>
  </tr>
  <% end %>
</table>
