// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";

@import "bootstrap/variables";
@import "bootstrap/mixins";

// see here http://getbootstrap.com/customize/ for full list

$font-size-base: 18px;
$text-color: $gray-base;

@import "bootstrap";

// body {
//   padding-top: 60px;
// }

textarea {
  resize: vertical;
}
